
<div class="thumbnail col-xs-8">
  <div class="caption-full">
    <h2><%= @user.name %></h2>
    <%-# Michelle change all of this to a partial and then call that action in the js.erb file -%>
    <% if current_user == @user %>
      <%= link_to "edit", edit_user_path(id:@user.id), class:"btn btn-warning" %>
    <% elsif current_user_session && !current_user.following?(@user) %>
      <%= link_to "Follow this User", follow_path(id:@user.id), class:"btn btn-primary", remote:true%>
    <% elsif current_user_session && current_user.following?(@user)%>
      <%= link_to "Unfollow this User", unfollow_path(id:@user.id), class:"btn btn-danger", remote:true%>
    <% end %>
    <%-# this is the end of it -%>
    <h4>Username: <%= @user.username %></h4>

    <h4>Bio: </h4>
    <p><%= @user.bio %></p>
    <h4>Email: <%= mail_to @user.email %></h4>
  </div>
</div>
<div class="col-xs-4">
  <%= image_tag(@user.profile_picture) %>
</div>

</div>
<div class="container center-block">
  <div class="col-xs-6">
    <h1>Followers</h1>
    <ul>
      <% @user.followers.each do |u| %>
        <li><%= link_to User.find(u.id).username, user_path(id:u.id) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-3">
    <h1>Following</h1>
    <ul>
      <% @user.all_following.each do |u| %>
        <li><%= link_to User.find(u.id).username, user_path(id:u.id) %></li>
      <% end %>
    </ul>
  </div>
</div>
